.main-bg {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(8px); /* Add blur effect */
}

/* Style for the main background container */
.main-bg {
  justify-content: center;
  align-items: center;

  /* Ensure the background image covers the entire container */
  background: url("girls.png") no-repeat center center/cover;
}

/* Glass effect styling */
.glass-effect {
  /* Semi-transparent background */
  background: rgba(0, 0, 0, 0.13);
  /* Blur effect */
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(3px);
  /* Border and shadow for the glass effect */
  /* border: 1px solid rgba(255, 255, 255, 0.134); */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
  /* Padding and text alignment */

  /* Text color */
  color: #fff;
}
