/* Set default background color */

/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
nav header {
  max-width: 100% !important;
}

body {
  background-color: #f5f5f5 !important;
}

/* Add this to your CSS file, e.g., src/index.css */

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-text {
  background: linear-gradient(
    270deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00a2
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 5s ease infinite;
}
