/* Set default background color */

/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
nav header {
  max-width: 100% !important;
}

body {
  background-color: #f5f5f5 !important;
}

/* Add this to your CSS file, e.g., src/index.css */

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-text {
  background: linear-gradient(
    270deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #ffffff,
    #ff003c,
    #f3bb04,
    #60289d,
    #ff00a2
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 5s ease infinite;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.main-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://cdn.discordapp.com/attachments/992804780424577044/1244684557899268159/futuristic-home-8397004_1280.png?ex=66560253&is=6654b0d3&hm=accf15a9eaeb64346aeeb791f343005b07fff6f18b673205e62d0eee53377deb&")
    no-repeat center center/cover;
  position: relative;
  overflow: hidden;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  color: #fff;
  max-width: 80%;
}
