/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure that nav header elements have a maximum width of 100% */
nav header {
  max-width: 100% !important;
}

/* Define keyframes for gradient animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply gradient animation to text */
.animate-gradient-text {
  background: linear-gradient(
    270deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #ffffff,
    #ff003c,
    #f3bb04,
    #60289d,
    #ff00a2
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 5s ease infinite;
}

/* Style for the main background container */
.main-bg {
  justify-content: center;
  align-items: center;

  /* Ensure the background image covers the entire container */
  background: url("girl.jpg") no-repeat center center/cover;
}

/* Glass effect styling */
.glass-effect {
  /* Semi-transparent background */
  background: rgba(0, 0, 0, 0.125);
  /* Blur effect */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  /* Border and shadow for the glass effect */
  border: 1px solid rgba(255, 255, 255, 0.134);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Padding and text alignment */

  /* Text color */
  color: #fff;
}
