/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure that nav header elements have a maximum width of 100% */
nav header {
  max-width: 100% !important;
}

/* Define keyframes for gradient animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply gradient animation to text */
.animate-gradient-text {
  background: linear-gradient(
    270deg,
    #3f2cb7,
    #6354d9,
    #bcbce4,
    #ffffff,
    #f53d61,
    #8d8dac,
    #8139ce,
    #ff00a2
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 6s ease infinite;
}
/* Style for the main background container */
.main-bg {
  justify-content: center;
  align-items: center;

  /* Ensure the background image covers the entire container */
  background: url("girls.png") no-repeat center center/cover;
}

.glass-effect {
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(3px);

  border-radius: 10px;

  color: #fff;
}

/* 13 */
.btn-13 {
  color: #ff9aff;
  border: 1px solid #ff9aff;
  box-shadow: 0 0 5px #ff9aff, 0 0 5px #ff9aff inset;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #ff9aff;
  box-shadow: 0 0 20px #ff9aff;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #fff;
}
.btn-13:hover:after {
  left: 0;
  width: 100%;
}
.btn-13:active {
  top: 2px;
}
