/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure that nav header elements have a maximum width of 100% */
nav header {
  max-width: 100% !important;
}

/* Define keyframes for gradient animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply gradient animation to text */
.animate-gradient-text {
  background: linear-gradient(
    270deg,
    #3f2cb7,
    #6354d9,
    #bcbce4,
    #ffffff,
    #f53d61,
    #8d8dac,
    #8139ce,
    #ff00a2
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 6s ease infinite;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.main-bg {
  justify-content: center;
  align-items: center;

  background: linear-gradient(285deg, #6435d3, #6e1083, #5606a1);
}

.glass-effect {
  backdrop-filter: blur(0.3px);
  -webkit-backdrop-filter: blur(0.5px);

  border-radius: 10px;

  color: #fff;
}

/* Add this to your CSS file or a <style> tag */

.btn-13 {
  color: #fdfdfd;
  border: 2px solid #be499d;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    45deg,
    #be499d,
    #7a036c
  ); /* Gradient background */
  box-shadow: 0 0 10px rgba(233, 18, 172, 0.5); /* Initial glow effect */
  transition: box-shadow 0.3s ease; /* Adding transition for shadow */
}

.btn-13:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #be499d;
  transition: width 0.5s ease; /* Adding transition for background fill */
}

.btn-13:hover:after {
  width: 100%; /* Filling background color on hover */
}

.btn-13:hover {
  color: #ffffff; /* Changing color on hover */
  box-shadow: 0 0 20px rgba(190, 73, 157, 0.8); /* Increasing glow intensity */
}

.btn-13:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.3) 50%
  );
  background-size: 100% 200%; /* Initially hidden */
  transition: background-position 0.3s ease; /* Adding transition for shutter animation */
}

.btn-13:hover:before {
  background-position: 0 100%; /* Shutter opening animation */
}

.drop-shadow-glow {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 0, 255, 0.4),
    0 0 15px rgba(255, 0, 255, 0.2), 0 0 20px rgba(255, 0, 255, 0.2),
    0 0 25px rgba(255, 0, 255, 0.2), 0 0 30px rgba(255, 0, 255, 0.2),
    0 0 35px rgba(255, 0, 255, 0.2);
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.animate-gradient-text {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}
