/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure that nav header elements have a maximum width of 100% */
nav header {
  max-width: 100% !important;
}
/* Define keyframes for gradient animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-bg {
  justify-content: center;
  align-items: center;
  background: linear-gradient(285deg, #6435d3, #6e1083, #5606a1);
}

.glass-effect {
  backdrop-filter: blur(0.3px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  color: #fff;
}

/* Button styles */
.btn-13 {
  color: #fdfdfd;
  border: 2px solid #be499d;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-color: #00000043;
  transition: color 0.3s ease;
}

.btn-13:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #be499d;
  transition: width 0.5s ease;
}

.btn-13:hover:after {
  width: 100%;
}

.btn-13:hover {
  color: #ffffff;
}

.btn-13:active {
  top: 2px;
}

/* Text shadow for glow effect */
.drop-shadow-glow {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 0 0 10px rgba(204, 0, 255, 0.2),
    0 0 15px rgba(174, 0, 255, 0.2), 0 0 20px rgba(200, 0, 255, 0.2),
    0 0 25px rgba(170, 0, 255, 0.2), 0 0 30px rgba(204, 0, 255, 0.2),
    0 0 35px rgba(195, 0, 255, 0.2);
}

/* Animation for gradient background */
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}
