/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure that nav header elements have a maximum width of 100% */
nav header {
  max-width: 100% !important;
}
/* Define keyframes for gradient animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply gradient animation to text */
.animate-gradient-text {
  background: linear-gradient(
    270deg,
    #3f2cb7,
    #6354d9,
    #bcbce4,
    #ffffff,
    #f53d61,
    #8d8dac,
    #8139ce,
    #ff00a2
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 6s ease infinite;
}

.main-bg {
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(250deg, #000000, #590385, #032564, #000000); */
  background: linear-gradient(100deg, #000000, #1f074f, #180130ee);
}

#F4C4F3 #FC67FG .glass-effect {
  backdrop-filter: blur(0.3px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  color: #fff;
}

/* Button styles */
.btn-13 {
  color: #fdfdfd;
  border: 2px solid #ad2ecc;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-color: #00000043;
  transition: color 0.3s ease;
}

.btn-13:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #9522b1;
  transition: width 0.5s ease;
}

.btn-13:hover:after {
  width: 150%;
}

.btn-13:hover {
  color: #ffffff;
}

.btn-13:active {
  top: 2px;
}
