.carousel {
  height: 400px;
  perspective: 650px;
  margin: 5% auto;
  max-width: 90%;
}

.carousel .carousel-item {
  width: 90%;
  max-width: 400px;
  height: 300px;
  box-shadow: 0 0 40px #61dafb, 0 0 40px #61dafb, 0 0 40px #61dafb;
  animation: animate 2s infinite alternate;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  margin: auto;
}

@keyframes animate {
  to {
    box-shadow: 0 0 50px #61dafb, 0 0 50px #61dafb, 0 0 50px #61dafb;
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 300px;
  }

  .carousel .carousel-item {
    height: 250px;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 250px;
  }

  .carousel .carousel-item {
    height: 200px;
    font-size: 1rem;
  }
}
