.carousel {
  height: 400px;
  perspective: 650px;
  margin: 5% auto;
  max-width: 100%;
}

.carousel .carousel-item {
  width: 90%;
  max-width: 400px;
  height: 235px;
  box-shadow: 0 0 40px #3c085d, 0 0 40px #3c085d, 0 0 40px #3c085d;
  animation: animate 2s infinite alternate;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #6e0bc0; */
  color: #000;
  font-size: 1.5rem;
  margin: auto;
}

.carousel img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

@keyframes animate {
  to {
    box-shadow: 0 0 50px #0405066e, 0 0 50px #0405066e, 0 0 50px #0405066e;
  }
}

/* Responsive CSS */
@media (max-width: 1024px) {
  .carousel {
    height: 350px;
  }

  .carousel .carousel-item {
    height: 250px;
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 300px;
  }

  .carousel .carousel-item {
    height: 200px;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 250px;
  }

  .carousel .carousel-item {
    height: 150px;
    font-size: 1rem;
  }
}
