.light2 {
  background: -moz-linear-gradient(
    -45deg,
    #9176fc 0%,
    #9176fc 40%,
    #ffffff7b 50%,
    #004e70 60%,
    #004e70 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #9176fc),
    color-stop(40%, #9176fc),
    color-stop(50%, #ffffff7b),
    color-stop(60%, #004e70),
    color-stop(100%, #004e70)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #9176fc 0%,
    #9176fc 40%,
    #ffffff7b 50%,
    #004e70 60%,
    #004e70 100%
  );
  background: -o-linear-gradient(
    -45deg,
    #9176fc 0%,
    #9176fc 40%,
    #ffffff7b 50%,
    #004e70 60%,
    #004e70 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    #9176fc 0%,
    #9176fc 40%,
    #ffffff7b 50%,
    #004e70 60%,
    #004e70 100%
  );
  background: linear-gradient(
    135deg,
    #9176fc 0%,
    #9176fc 40%,
    #ffffff7b 50%,
    #004e70 60%,
    #004e70 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9176fc', endColorstr='#004e70', GradientType=1);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 300%;
}
.light2:hover {
  animation: light 1s;
  -webkit-animation: light 1s;
}
@keyframes light2 {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 0px;
  }
}
@-webkit-keyframes light2 {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 0px;
  }
}
