.carousel {
  height: 400px;
  perspective: 650px;
  margin-top: 5%;
}

.carousel .carousel-item {
  width: 400px;
  height: 300px;
  box-shadow: 0 0 40px #61dafb, 0 0 40px #61dafb, 0 0 40px #61dafb;
  animation: animate 2s infinite alternate;
  border-radius: 15px;
}

@keyframes animate {
  to {
    box-shadow: 0 0 50px #61dafb, 0 0 50px #61dafb, 0 0 50px #61dafb;
  }
}
