body {
  margin: 0;
  padding: 0;
  background: #021514;
  font-family: Arial, sans-serif;
}

.carousel {
  position: relative;
  height: 400px;
  margin: 5% auto;
  max-width: 90%;
  overflow: hidden;
  perspective: 650px;
}

.carousel .carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.carousel .carousel-item.active {
  opacity: 1;
}

@media (max-width: 768px) {
  .carousel {
    height: 300px;
  }

  .carousel .carousel-item {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 250px;
  }

  .carousel .carousel-item {
    height: 200px;
  }
}
