/* ToastifyCustom.css */
.Toastify__toast {
  background: rgba(
    0,
    0,
    0,
    0.042
  ) !important; /* Making background semi-transparent */
  color: white; /* Ensuring text color is readable */
}

.Toastify__toast--success {
  background: rgba(
    0,
    128,
    0,
    0.5
  ) !important; /* Transparent green for success toasts */
}

.Toastify__toast--error {
  background: rgba(
    255,
    0,
    0,
    0.5
  ) !important; /* Transparent red for error toasts */
}

/* Customize the progress bar if needed */
.Toastify__progress-bar {
  background: white !important;
}
