/* Define keyframes for gradient animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply gradient animation to text */
.animate-gradient-text {
  background: linear-gradient(
    270deg,
    #3f2cb7,
    #6354d9,
    #bcbce4,
    #ffffff,
    #f53d61,
    #8d8dac,
    #8139ce,
    #ff00a2
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 6s ease infinite;
}

/* Button styles */
.btn-13 {
  color: #fdfdfd;
  border: 2px solid #be499d;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-color: #00000043;
  transition: color 0.3s ease;
}

.btn-13:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #be499d;
  transition: width 0.5s ease;
}

.btn-13:hover:after {
  width: 100%;
}

.btn-13:hover {
  color: #ffffff;
}

.btn-13:active {
  top: 2px;
}
