/* Define keyframes for gradient animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply gradient animation to text */
.animate-gradient-text {
  background: linear-gradient(
    270deg,
    #3f2cb7,
    #6354d9,
    #bcbce4,
    #ffffff,
    #f53d61,
    #8d8dac,
    #8139ce,
    #ff00a2
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 6s ease infinite;
}
